# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env
!.env.example

# Logs
app/backend/rtmp/logs/*

# HLS Files (Transport Stream video segments, NOT TypeScript)
**/hls/**/*.ts
**/hls/**/*.m3u8
storage/**/*.ts
storage/**/*.m3u8

# Build artifacts
target/
node_modules/
dist/
build/


# Docker
docker-compose.override.yml

app/benchmark/results/bench-*
app/docker/*
docs/benchmark/results.csv
app/benchmark/__pycache__/